body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex:auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    bottom: 0;
    width: 100;
}
