body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin:0;
    font-family: Arial, Helvetica, sans-serif
}

.header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding:20px;
    background-color: #1F2937;
    min-height: 50px;
}

.header-logo,.header-logo:hover {
    font-size: 24px;
    color: #F9FAF8;
    text-decoration: none;
    font-weight:bold;
}

.header-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size:18px;
    margin: 0;
    padding: 0;
    gap: 20px;
    color: #E5E7EB;
}

.header-link{
    text-decoration: none;
    color: #E5E7EB;
}
.header-link:hover {
    text-decoration: underline;
    color: #E5E7EB;
}


.content {
    display:flex;
    flex-direction:column;
    flex:auto;
}

.hero {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #1F2937;
    padding: 100px;
    gap:100px;
}

.h1-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align:left;
    max-width: 450px;
    gap:12px;
}

.h1-left-title {
    font-size:48px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    color:#F9FAF8;
    text-wrap:wrap;
    max-width:400px;
}

.h1-left-subtext {
    font-size:18px;
    text-wrap:wrap;
    color: #E5E7EB;
}

.h1-sign-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3882F6;
    border-radius: 8px;
    font-weight: bold;
    transition: transform .1s;
}

.h1-sign-button:hover {
    background-color:#5997F8;
    transform: scale(1.10);
}

.sign-button {
    white-space:nowrap;
    padding: 7px 26px 7px 26px;
}


a.sign-button {
    color: white;
    font-size:21px;
    text-decoration:none;
}

a:hover.sign-button {
    color: white;
}

.h1-right {
    width:500px;
}


.head-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:35px;
    gap:25px;
    padding-bottom:150px;
}


.h2-title {
    font-size: 36px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:#1F2937;
    padding:10px;
}

.h2-boxes {
    display: flex;
    gap:45px;
}

.h2-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    width:195px;
    gap: 10px;
}

img.box-img {
    width:195px;
    height:195px;
    border: 3px transparent #3882F6;
    border-radius: 15px;
    transition: transform .2s;
}

.box-img:hover {
    transform:scale(1.05);
}

.img-subtext {
    font-weight:lighter;
    font-size: 20px;
    color: #1F2937;
    text-wrap: wrap;
}

.header-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#E5E7EB;
    padding: 150px 50px 150px 50px;
}

.quote-wrapper {
    max-width: 830px;
}

.quote {
    font-size:36px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:lighter;
    font-style:italic;
    text-wrap: wrap;
}

.quote-author {
    font-size:20px;
    text-align:end;
    font-weight:bold;
}

.header-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 50px 100px 50px;
}

.big-sign {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    background-color:#3882F6;
    padding: 50px 200px 50px 200px;
    gap: 250px;
    border-radius: 20px;
}

.h4-left {
    min-width: 500px;
}

.big-sign-text {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-size:24px;
    font-weight: bold;
    background-color:#3882F6;
}

.big-sign-subtext {
    color: white;
}

.h4-sign-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3882F6;
    border: 2px solid white;
    border-radius: 8px;
    font-weight: bold;
    transition: transform .1s;
    max-height:48px;
    max-width:126px;
}

.h4-sign-button:hover {
    background-color:#5997F8;
    transform: scale(1.10);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#E5E7EB;
    background-color: #1F2937;
    bottom: 0;
    width: 100;
    padding:20px;
    min-height: 50px;
}
